#mainContent {
	
	text-align:center;
	color: rgb(185,185,185);
	font-family: cabin;
	letter-spacing: 3px

}


#test {
	
	background: rgba(0, 0, 0, 0.4);
	width: 80%;
	margin: auto;
	position: relative; top:50px;
	




}


ul
{
		    list-style-type: none;
		    letter-spacing: 2px;
		    font-family: cabin;
		    
}

li {
	font-size: 23px;
	display: inline;
	float: center;



}

body { 
  background: url(/assets/images/rocks.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar {
	top: 30px;
	
	background: rgba(0, 0, 0, 0.4);
	padding-top: 50px;

	
}

a {
	color: rgb(220,220,220);


}




@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin/Cabin-Regular.otf');
    src: url('../fonts/antonio/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/antonio-light-webfont.woff2') format('woff2'),
         url('../fonts/antonio/antonio-light-webfont.woff') format('woff'),
         url('../fonts/antonio/antonio-light-webfont.ttf') format('truetype'),
         url('../fonts/antonio/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


 

 










