<nav class="navbar navbar-default navbar-fixed-top">
<ul class="navbar-nav">
<li> {{#link-to}} LINK1 {{/link-to}}</li>
<li> {{#link-to}} LINK2 {{/link-to}}</li>
<li> {{#link-to}} LINK3 {{/link-to}}</li>
</ul>
</nav>



<h1 id="mainContent"> Home page </h1>
